.Rodape {
    // margin-top: 2.5rem;
    background-color: var(--clr-turq1);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;

}
