// @use '../../assets/styles/variables';

.pageNext {
    width: 188px;
    display: block;
    // margin-left: 82.5%;
    color: var(--clr-turq1);
    // outline: solid 1px blue;

    p {
        font-size: 20px;
        font-weight: 600;
    }

    .iconNext {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        fill: var(--clr-turq1);


    }

    .textHover {
        color: var(--clr-blue);
        transition: color 0.3s ease;
    }

    .iconHover, .iconHover circle {
        fill: var(--clr-blue);
        transition: fill 0.3s ease;
    }

}