.footer {
    // border-top: solid 3px var(--clr-turq1);

    .line1, .line2 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
    
    .line1{
        background-color: var(--clr-turq1);
    }

    .line2{
        background-color: #fff;
    }
}

