@media (min-width: 990px) {

    .bannerInt{
        margin-bottom: 40px;
    }

    .col-md-33{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

}



@media (min-width: 1190px) {

    .col-md-33{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .tit1 {
        font-size: 33px;
        margin-top: 0;
        margin-bottom: 2%;
    }

    .txt-right, p.desc {
        font-size: 19px;
    }
}