@media (min-width: 990px) {

    .mobile-only {
        display: none;
    }

    .desk-only {
        display: block;
    }

    .bannerInt {
        margin-bottom: 40px;
    }

}



@media (min-width: 1190px) {

    .tit1 {
        font-size: 33px;
        margin-top: 0;
        margin-bottom: 2%;
    }

    .txt-right,
    p.desc {
        font-size: 19px;
    }
}


.contentCenter {
    padding-top: 160px; /* Padrão para telas médias */

    @media (min-width: 1024px) {
        padding-top: 137px; /* Padrão para telas médias */ /* Ajuste para telas menores */
    }

}
