@import "_variables.scss";
@import "_responsive.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-repeat: no-repeat;
}

body{
    background-color: #fff;
    font-family:"Cronos Pro", sans-serif;
    font-weight: 300;
}

.contentCenter{
    width: 100%;
    min-height: 100vh;
    padding-top: 58px;
    overflow: hidden;
}

.internalContent{
    width: 90%;
    margin: 0 5%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.bannerInt{
    margin-bottom: 20px;

    picture{
        width: 100%;
    }

    img{
        width: 100%;
    }
}


._upCase{
    text-transform: uppercase;
}

.tit1 {
    font-size: 30px;
    font-weight: 650;
    margin: 4% 0;
    line-height: 1.2;
}

.desc {
    font-size: 19px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 20px;
}

.msgIcon {
    width: 70px;
    margin-right: 10px;
    float: left;
}

._bold7{
    font-weight: 700;
}

._fnt45 {
    font-size: 45px !important;
}