

@media (min-width: 990px) {
    .msgPresidenteSection {
        .imgFoto {
            margin-left: 20px;
        }

        .fotoLgd{
            width: 123px;
            margin-left: 380px;
            margin-top: -80px;
        }
    }
}

@media (min-width: 1190px) {
    .msg-presidente-section {
        .imgFoto {
            margin-left: -12%;
        }
    }
}

